/Chat System/TcpChatServer/TcpChatServer/.vs
/Chat System/TcpChatServer/TcpChatServer/bin
/Chat System/TcpChatServer/TcpChatServer/obj


/Chat System/TcpChatClient/TcpChatClient/.vs
/Chat System/TcpChatClient/TcpChatClient/bin
/Chat System/TcpChatClient/TcpChatClient/obj
/Chat System/TcpChatClient/.vs
